body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

ul {
    list-style: none;
}

.hero-wrapper {
    padding: 10px 20px;
    background-color: #192937;
}

.header {
    display: flex; 
    align-items: center;
    margin: 0 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links,
p {
    display: flex;
    font-size: 18px;
    margin-left: auto;
    gap: 20px;    
}

p {
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}
.hero {
    display: flex;
    margin: 30px 200px;
    justify-content: space-around;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.intro {
    width: 500px;
}

.landscape {
    width: 500px;
    height: auto;
}

.button {
    background-color: #3882F6;
    border-radius: 6px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    font-weight: 600;
    color: #F9FAF8;
}

.info {
    text-align: center;
    margin: 50px 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 30px;
}

.pics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 65px;
}

.pic {
    max-width: 200px;
}

.card {
    width: 200px;
    height: 200px;
    border-radius: 6px;
    border: solid 3px #3882F6;   
}

.quote {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
}

p.jane,
p.goodall {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;

}