:root {
    --clr-black: #192937;

}

body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

ul {
    list-style: none;
}

.hero-wrapper {
    padding: 10px 20px;
    background-color: var(--clr-black);
}

.header {
    display: flex; 
    align-items: center;
    margin: 0 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links,
p {
    display: flex;
    font-size: 18px;
    margin-left: auto;
    gap: 20px;    
}

p {
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}
.hero {
    display: flex;
    margin: 30px 200px;
    justify-content: space-around;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.intro {
    width: 500px;
}

.landscape {
    width: 500px;
    height: auto;
}

.button {
    background-color: #3882F6;
    border-radius: 6px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    font-weight: 600;
    color: #F9FAF8;
}

.info {
    text-align: center;
    margin: 50px 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--clr-black);
    padding-bottom: 30px;
}

.pics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 105px;
}

.pic {
    max-width: 200px;
}

.card {
    width: 200px;
    height: 200px;
    border-radius: 6px;
    border: solid 3px #3882F6;   
}

.text {
    font-size: 20px;
}

.quote {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 400px;
}

.jane{
    color: var(--clr-black);
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 15px;
}

.goodall {
    color: var(--clr-black);
    font-weight: 900;
    font-size: 24px;
    padding-left: 450px;
    text-decoration: underline;
}

.action {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    margin: 30px 300px;
    padding: 30px;
    border-radius: 6px;
    align-items: center;
}

h3 {
    color: #E5E7Eb;
}

.buttonz {
    border: solid 2px #F9FAF8;
    background-color: #3882F6;
    border-radius: 6px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    font-weight: 600;
    color: #F9FAF8;
}

.footer {
    background-color: var(--clr-black);
    display: flex;
    justify-content: center;
}

h4 {
    color: #E5E7Eb;
    padding: 0 15px;
}

